.input-block {
    position: relative;
  }
  
  .input-block + .input-block {
    margin-top: 1.4rem;
  }
  
  .input-block + .select-block {
    margin-top: 1.4rem;
  }
  
  .input-block label {
    font-size: 1.4rem;
  }
  
  .input-block input {
    width: 100%;
    height: 3.6rem;
    margin-top: 0.8rem;
    border: 1px solid var(--color-line-in-white); 
    border-radius: 0.8rem;
    outline: 0;
    padding: 0 1.6rem;
    background: var(--color-line-in-white);
    font: 1.4rem Archivo;
  }