#page-form {
    width: 80%;
  }
  
  #page-form main {
    width: 100%;
    max-width: 74rem;
    margin: 1rem;
    overflow: hidden;
  }
  
  #page-form main fieldset {
    border: 0;
    padding: 0 2.4rem;
  }
  
  #page-form main fieldset legend {
    font: 500 2rem Poppins;
    color: var(--color-primary-dark);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
  }
  
  
  