.button-container {
    margin: 3rem auto;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container button {
    background-color: var(--color-primary-light);
    width: 18rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    border-radius: .8rem;
    transition: background-color 1s ;
    cursor: pointer;
    font: 400 1.4rem Poppins;
    color: var(--color-base)
  }
  
  .button-container button:hover{
    background-color: var(--color-primary-dark);
  }
  